body {
  padding-top: 40px;
}

.jumbotron {
  padding: 2rem;
}

.btn-lg {
  min-width: 200px
}

.dropdown-item {
  display: block
}

.dropdown-menu {
  width: 200px
}


.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}
