<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <title>Picolo</title>

     <!-- Bootstrap -->
     <link href="css/bootstrap.min.css" rel="stylesheet">

     <!-- Application -->
     <link href="css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="css/voterUI.css">

</head>

<body>
     <div class="container">
          <div class="jumbotron text-center">
               <h1>Picolo</h1>
          </div>
          <ul class="nav nav-tabs">
             <li class="active"><a data-toggle="tab" href="#Miners">Miners</a></li>
             <li><a data-toggle="tab" href="#Voters">Voters</a></li>
           </ul>

           <div class="tab-content">
             <div id="Miners" class="tab-pane fade in active">
               <!-- <h3>Miners</h3>
               <p>Some content.</p> -->
               <div class="col-md-12" id="article-list">
                  <div class="row">
                    <div class="col-lg-12">
                      <p id="account" class="welcome pull-right"></p>
                      <p id="accountBalance" class="welcome pull-left"></p>
                    </div>
                  </div>

                  <div class="row panel panel-default">
                    <div class="panel-heading clearfix">
                      <div class="panel-title">
                        <!-- <button class="btn btn-info btn-lg pull-left" data-toggle="modal" data-target="#sellArticle">Tokens</button> -->
                        <!-- <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#sellArticle">Load</button> -->
                        <button class="btn btn-info btn-lg pull-left" data-toggle="collapse" data-target="#events" aria-expanded="false" aria-controls="events">Events</button>
                        <button class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#sellArticle" href="https://google.com">Metrics</button>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="row panel panel-default">
                    <div class="panel-heading clearfix">
                      <div class="panel-title">
                        <button class="btn btn-info btn-lg pull-left" data-toggle="collapse" data-target="#events" aria-expanded="false" aria-controls="events">Events</button>
                      </div>
                    </div>
                    <ul id="events" class="collapse list-group"></ul>
                  </div> -->

                  <div class="dropdown">
                    <button class="btn btn-lg btn-primary dropdown-toggle select-actions" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" data-toggle="modal" data-target="#sellArticle" href="#">Register Node</a>
                      <a class="dropdown-item" data-toggle="modal" data-target="#sellArticle" href="#">Start</a>
                      <a class="dropdown-item" data-toggle="modal" data-target="#sellArticle" href="#">Stop</a>
                      <a class="dropdown-item" data-toggle="modal" data-target="#sellArticle" href="#">UnRegister Node</a>
                    </div>
                  </div>

                  <div id="articlesRow" class="row">
                    <!-- ARTICLES LOAD HERE -->
                  </div>
                </div>
               <div id="articleTemplate" style="display: none;">
                  <div class="row-lg-12">
                    <div class="panel panel-default panel-article">
                      <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                      </div>
                      <div class="panel-body">
                        <strong>Description</strong>: <span class="article-description"></span><br/>
                        <strong>Price (ETH)</strong>: <span class="article-price"></span><br/>
                        <strong>Sold by</strong>: <span class="article-seller"></span><br/>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal form to sell an article -->
                <div class="modal fade" id="sellArticle" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sell your article</h4>
                      </div>
                      <div class="modal-body">

                        <div class="row">
                          <div class="col-lg-12">
                            <form>
                              <div class="form-group">
                                <label for="article_name">Article name</label>
                                <input type="text" class="form-control" id="article_name" placeholder="Enter the name of your article">
                              </div>
                              <div class="form-group">
                                <label for="price">Price in ETH</label>
                                <input type="number" class="form-control" id="article_price" placeholder="1" pattern="[0-9]+([\.,][0-9]+)?" step="0.01">
                              </div>
                              <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text" class="form-control vresize" id="article_description" placeholder="Describe your article" maxlength="255"></textarea>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-success" data-dismiss="modal" onclick="App.sellArticle(); return false;">Submit</button>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
             </div>
             <div id="Voters" class="tab-pane fade">
                 <div id="vueapp">
                     <div class="wrapper">
                         <div>
                             <transition-group name="list" tag="p">
                                 <div class="card list-item" v-for="node in cooperative" :key="node">
                                     {{node}} <br>
                                     <button class="btn btn-danger" @click="asMalicious(node)">vote malicious</button>
                                 </div>
                             </transition-group>
                         </div>
                         <div>
                             <transition-group name="list" tag="p">
                                 <div class="card list-item" v-for="node in malicious" :key="node">
                                     {{node}} <br>
                                     <button class="btn btn-primary" @click="asCooperative(node)">vote cooperative</button>
                                 </div>
                             </transition-group>
                         </div>
                     </div>
                 </div>
             </div>
           </div>
     </div>

     <div id="footer" class="container">
          <nav class="navbar navbar-default navbar-fixed-bottom">
               <div class="navbar-inner navbar-content-center text-center">
                    <p class="text-muted" credit><a href="https://github.com/picolonetwork/alpha">Picolo-Project</a> - &copy; 2018</p>
               </div>
          </nav>
     </div>



     <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
     <script>
       new Vue({
         el: '#vueapp',
         data: {
           cooperative: ['a', 'b', 'c'],
           malicious: [],
         },
         methods: {
           asMalicious(id){
             this.cooperative.splice(this.cooperative.indexOf(id), 1);
             this.malicious.push(id);
           },
           asCooperative(id){
             this.malicious.splice(this.malicious.indexOf(id), 1);
             this.cooperative.push(id);
           }
         }
       })
     </script>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="js/bootstrap.min.js"></script>
     <script src="js/web3.min.js"></script>
     <script src="js/truffle-contract.js"></script>
     <script src="js/app.js"></script>
</body>

</html>
